@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;500&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}
:focus{
  border:none;
}
body , html{
  font-family: 'Poppins', sans-serif;
  background: #eff1f7;
  height: 100%;
}

.todo {
  display: flex;
  align-items: center;
  height: 100%;
}

.todo__container {
  margin: auto;
  max-width: 800px;
  width: 100%;
  background: #fff;
  display: flex;
  flex-direction: column;
  border-radius: 0.5rem;
  box-shadow: 0px 20px 20px -19px #c5c5c5;
}

.todo__heading {
  width: 100%;
  padding: 2rem 0;
  text-align: center;
  background: #cc2b5e;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #753a88, #cc2b5e);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #753a88, #cc2b5e); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  -webkit-background-clip: text;
  -moz-background-clip: text;
  color: transparent;   
}

/* fix for Safari */
@media not all and (min-resolution:.001dpcm)
{ @supports (-webkit-appearance:none) and (stroke-color:transparent) {
    .todo__heading { 
        color:#cc2b5e;
      }
}}
.todo__list {
  display: flex;
  justify-content: center;
  flex-direction: column;
  list-style: none;
  padding: 0 2rem;
  margin-top: 1rem;
}
.todo__item {
    width: 100%;
    height: fit-content;
    padding: 1rem;
    background: #fafafa;
    color: #333;
    transition: all 0.4s ease-in-out;
    margin-bottom: 1rem;
    border-radius: 0.5rem;
    display: flex;
    align-items: center;
    opacity: 1;
}
.todo__item:hover {
    border:none;
    box-shadow: 0px 2px 12px 0 #ddd;
    
}

.todo__item.done {
  opacity: 0;
}

.todo__item:last-child {
  border-bottom: none;
}

.todo__content {
  width: 100%;
  overflow-wrap: anywhere;
  margin-left: 1rem;
  transition: all .3s ease-in-out;
}
.todo__content.checked {
  text-decoration: line-through;
}

/* todo add */
.todo__add {
  display: flex;
  position: relative;
  height: 90px;
}
.todo__add .todo__input {
  width:75%;
  border: none;
  padding: 0 2rem;
  height: inherit;
  font-size: 1rem;
  float: left;
}
.todo__add .todo__input:focus{
  outline: none;
}

.todo__add #todo__btn {
    background: #fff;
    float: left;
    width: 25%;
    height: inherit;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all .3s ease-in-out;
    cursor: pointer;
}
.todo__add #todo__btn:hover {
  background: #f6f6f6;
}

/* checkbox custom */
.todo__check {
  display: inline-block;
  height: 30px;
  width: 30px;
  position: relative;
}
.todo__check input[type="checkbox"] {
  display:none;
}

.todo__check .checkbox{
  background: #fff;
  cursor: pointer;
  width: 100%;
  height:100%;
  transition: all .3s ease-in-out;
  position: relative;
  border-radius: 50px;
  border: 1px solid #ddd;
  transition: all .3s ease-in-out;
}

.todo__check .checkbox:before {
  content: "";
  position: absolute;
  opacity: 0;
  width:0;
  height: 0;
  border-bottom: 3px solid #fff;
  border-left: 3px solid #fff;
  transform: rotate(-45deg);
  margin: 0 auto;
  left: 4px;
  top: 5px;
  transition: height 0.1s;
  transition: width 0.3s ease-in-out;
}
.todo__check input[type="checkbox"]:checked + .checkbox {
  background: #67B26F;  /* fallback for old browsers */

}
.todo__check input[type="checkbox"]:checked + .checkbox:before {
  opacity: 1;
   width: 15px;
  height: 10px;
}

/* Responsive */

@media screen and (max-width: 1100px){
body, html {
    background: #fff;
}
.todo{
  display: block;
}
.todo__container{
  max-width:100%;
  height:100%;
  margin:0;
}

.todo__list{
  padding: 0 1rem;
}

.todo__add{
  flex-direction: column;
  height: 140px;
}

.todo__add .todo__input, .todo__add #todo__btn {
  width:100%
}
}